@charset "utf-8";

@font-face {
    font-family: pretendard;
    font-weight: 300;
    src: url(../fonts/woff/Pretendard-Light.woff) format("woff"),
        url(../fonts/woff2/Pretendard-Light.woff2) format("woff2");
}

@font-face {
    font-family: pretendard;
    font-weight: 400;
    src: url(../fonts/woff/Pretendard-Regular.woff) format("woff"),
        url(../fonts/woff2/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
    font-family: pretendard;
    font-weight: 500;
    src: url(../fonts/woff/Pretendard-Medium.woff) format("woff"),
        url(../fonts/woff2/Pretendard-Medium.woff2) format("woff2");
}

@font-face {
    font-family: pretendard;
    font-weight: 600;
    src: url(../fonts/woff/Pretendard-SemiBold.woff) format("woff"),
        url(../fonts/woff2/Pretendard-SemiBold.woff2) format("woff2");
}

@font-face {
    font-family: pretendard;
    font-weight: 700;
    src: url(../fonts/woff/Pretendard-Bold.woff) format("woff"),
        url(../fonts/woff2/Pretendard-Bold.woff2) format("woff2");
}