@charset "utf-8";

.project_list {display: flex; flex-wrap: wrap; gap: 3rem 1.2rem;}
.project_list li {width: calc(100% / 4 - .9rem);}
.project_list li button {display: block; width: 100%; height: 0; padding-top: 100%; position: relative; border: none; background: none; cursor: pointer;}
.project_list li button img {width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; pointer-events: none; transition: .2s linear; border-radius: 0;}
.project_list li .title {display: flex; align-items: center; justify-content: space-between;  font-size: 1.0625rem; font-weight: 600; color: var(--neutral-700); border-bottom: 1px solid var(--neutral-400); border-top: 1px solid var(--neutral-400); margin-top: .6rem; padding: 1.2rem 0;}
.project_list li .title .category {font-size: .875rem; font-weight: 400; color: var(--neutral-700); position: relative; padding-left: 1rem;}
.project_list li .title .category::before {content: ""; width: .45rem; height: .45rem; border-radius: 50%; background: var(--point-500); position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

.modal_overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: flex-start; padding: 100px 0; z-index: 1000; overflow-y: auto; background: var(--background);}
.modal_content {width: calc(100% - 20vw); position: relative;}
.modal_content > div {padding: 5vw; background: #fff;}
.modal_close {position: absolute; right: 0; top: -70px; background: none; border: none; font-size: 2.25rem; color: var(--neutral-900); cursor: pointer; z-index: 2;}
.modal_close::before {content: ""; width: 4rem; height: 4rem; border-radius: 100%; background: var(--neutral-100); position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: -1; opacity: 0; transition: opacity .3s;}
.modal_close:hover::before {opacity: 1;}
.modal_top {width: 100%; display: flex; gap: 5rem;}
.modal_top .thumb {width: 30%; height: 0; padding-top: 30%; border-radius: 14px; overflow: hidden; position: relative;}
.modal_top .thumb img {width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0;}
.modal_top .box {width: calc(100% - 30% - 5vw); display: flex; flex-wrap: wrap; align-items: center; align-content: center;}
.modal_top .box .project {font-size: 1.5rem; font-weight: 700; color: #333;}
.modal_top .box .homepage {display: inline-block; color: #333; background: #f5f5f5; border: 1px solid #333; border-radius: 50px; font-size: .875rem; font-weight: 600; padding: .5rem 1rem; transition: .3s;}
.modal_top .info {width: 100%; display: flex; flex-direction: column; gap: 1.5rem; margin: 3rem 0;}
.modal_top .info li {width: 100%; display: flex; gap: 1rem;}
.modal_top .info li .tit {width: 100px;}
.modal_top .info li .cont b {font-weight: 600;}

.modal_bottom .cnt {display: flex; flex-direction: column; gap: 2.5rem;}
.modal_bottom .cnt li,
.modal_bottom .cnt li img {width: 100%;}



.about {display: flex; flex-wrap: wrap; gap: 3rem;}
.about .box {width: 100%; line-height: 1.75; color: var(--neutral-900);}
.about .box h3 {font-size: 1.25rem; font-weight: 600; margin-bottom: 1rem; }
.about .box ul {display: flex; flex-wrap: wrap; gap: 1rem;}
.about .box ul li {width: 100%; display: flex; align-items: flex-start; font-size: 1rem; font-weight: 400;}
.about .box ul li span.date {width: 100%; max-width: 200px; display: flex; flex-wrap: wrap; align-items: center; font-size: 1.0625rem; font-weight: 500;}
.about .box ul li span.date small {width: 100%; font-size: .875rem; font-weight: 400;  color: var(--neutral-500);}

@media (hover: hover) {
  .content ul li button:hover img {border-radius: 50%;}
  .modal_top .box .homepage:hover {transform: translateX(.5rem);}
}

@media (max-width: 1440px) {
  .content ul li {width: calc(100% / 2 - .6rem);}

}

@media (max-width: 1240px) {
  .modal_top .thumb {display: none;}
  .modal_top .box {width: 100%; justify-content: center;}
  .modal_top .info li {justify-content: center;}
}

@media (max-width: 768px) {
  .modal_content > div {padding: 30px 5vw 0;}
  .modal_overlay {padding: 100px 5vw 50px;}
  .modal_content {width: 100%;}

  .content ul li {width: 100%;}
}