@charset "utf-8";

.content ul {display: flex; flex-wrap: wrap; gap: 3rem 1.2rem;}
.content ul li {width: calc(100% / 4 - .9rem);}
.content ul li button {display: block; width: 100%; height: 0; padding-top: 100%; position: relative; border: none; background: none; cursor: pointer;}
.content ul li button img {width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; pointer-events: none; transition: .2s linear; border-radius: 0;}
.content ul li .title {display: flex; align-items: center; justify-content: space-between;  font-size: 1.0625rem; font-weight: 600; color: var(--neutral-700); border-bottom: 1px solid var(--neutral-400); border-top: 1px solid var(--neutral-400); margin-top: .6rem; padding: 1.2rem 0;}
.content ul li .title .category {font-size: .875rem; font-weight: 400; color: var(--neutral-700); position: relative; padding-left: 1rem;}
.content ul li .title .category::before {content: ""; width: .45rem; height: .45rem; border-radius: 50%; background: var(--point-500); position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

.modal_overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: flex-start; padding: 20vh 0; z-index: 1000; overflow-y: auto; background: var(--background);}
.modal_content {width: calc(100% - 20vw); position: relative;}
.modal_close {position: relative; left: 96%; top: -30px; background: none; border: none; font-size: 2.25rem; color: var(--neutral-900); cursor: pointer; z-index: 2;}
.modal_close::before {content: ""; width: 4rem; height: 4rem; border-radius: 100%; background: var(--neutral-100); position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: -1; opacity: 0; transition: opacity .3s;}
.modal_close:hover::before {opacity: 1;}
.modal-over {width: 100%; padding: 5rem; background: #fff; display: flex; gap: 5rem;}
.modal-thumbnail {width: 500px; height: 500px; border-radius: 14px; overflow: hidden; position: relative;}
.modal-thumbnail img {width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0;}
.modal-txt h2 {font-size: 1.5rem; font-weight: 700; color: #333;}



.about {display: flex; flex-wrap: wrap; gap: 3rem;}
.about .box {width: 100%; line-height: 1.75; color: var(--neutral-900);}
.about .box h3 {font-size: 1.25rem; font-weight: 600; margin-bottom: 1rem; }
.about .box ul {display: flex; flex-wrap: wrap; gap: 1rem;}
.about .box ul li {width: 100%; display: flex; align-items: flex-start; font-size: 1rem; font-weight: 400;}
.about .box ul li span.date {width: 100%; max-width: 200px; display: flex; flex-wrap: wrap; align-items: center; font-size: 1.0625rem; font-weight: 500;}
.about .box ul li span.date small {width: 100%; font-size: .875rem; font-weight: 400;  color: var(--neutral-500);}

@media (hover: hover) {
    .content ul li button:hover img {border-radius: 50%;}
}

@media (max-width: 1440px) {
  .content ul li {width: calc(100% / 2 - .6rem);}
}

@media (max-width: 768px) {
  .content ul li {width: 100%;}
}