@charset "utf-8";

/* work - list */
.project_list {display: flex; flex-wrap: wrap; gap: 3rem 1.2rem;}
.project_list li {width: calc((100% - 1.2rem * 3) / 4); transition: .3s;}
.project_list li button {display: block; width: 100%; height: 0; padding-top: 100%; position: relative; border: none; background: none; cursor: pointer; transition: .3s;}
.project_list li button img {width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0; pointer-events: none; transition: .2s linear; border-radius: 0;}
.project_list li button:hover img {border-radius: 50%;}
.project_list li .title {display: flex; align-items: center; justify-content: space-between;  font-size: 1.0625rem; font-weight: 600; color: var(--neutral-700); border-bottom: 1px solid var(--neutral-400); border-top: 1px solid var(--neutral-400); margin-top: .6rem; padding: 1.2rem 0;}
.project_list li .title .category {font-size: .875rem; font-weight: 400; color: var(--neutral-700); position: relative; padding-left: 1rem;}
.project_list li .title .category::before {content: ""; width: .45rem; height: .45rem; border-radius: 50%; background: var(--point-500); position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

@media (max-width: 1420px) {
  .project_list li {width: calc((100% - 1.2rem * 2) / 3);}
}

@media (max-width: 1024px) {
  .project_list li {width: calc((100% - 1.2rem) / 2);}
}

@media (max-width: 500px) {
  .project_list li {width: 100%;}
  .project_list li button {padding-top: 50%; border-radius: 10px; overflow: hidden;}
}


/* work - detail */
.cnt_top {width: 100%; display: flex; gap: 2rem 5rem; margin: 5rem 0;}
.cnt_top .thumb {width: 30%; height: 0; padding-top: 30%; border-radius: 14px; overflow: hidden; position: relative;}
.cnt_top .thumb img {width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0;}
.cnt_top .box {width: calc(100% - 30% - 5vw); display: flex; flex-wrap: wrap; align-items: center; align-content: center;}
.cnt_top .box .project {font-size: 1.5rem; font-weight: 700; color: var(--neutral-900);}
.cnt_top .box .homepage {display: inline-block; color: #fff; background: var(--point-500); border-radius: 50px; font-size: .9375rem; font-weight: 500; letter-spacing: .01rem; padding: .5rem 1rem; transition: .3s;}
.cnt_top .info {width: 100%; display: flex; flex-direction: column; gap: 1.5rem; margin: 3rem 0;}
.cnt_top .info li {width: 100%; display: flex; gap: 1rem; color: var(--neutral-900);}
.cnt_top .info li .tit {width: 100px;}
.cnt_top .info li .cont b {font-weight: 600;}

.cnt_bottom ul {display: flex; flex-direction: column; gap: 2.5rem;}
.cnt_bottom ul li,
.cnt_bottom ul li img {width: 100%;}

.cnt_controls {position: fixed; right: 2vw; bottom: 2vw; opacity: 0; pointer-events: none; transition: opacity 0.4s ease, transform 0.4s ease; z-index: 100; width: 60px;}
.cnt_controls.show {opacity: 1; pointer-events: auto;}
.cnt_controls ul {display: flex; flex-direction: column; gap: 1rem;}
.cnt_controls ul li {background: #fff; border: 1px solid #1a1713; padding: 2rem 1rem; border-radius: 50px; display: flex; flex-direction: column; align-items: center; gap: 1.25rem; width: 100%;}
.cnt_controls ul li.scrollTop {padding: 0; background: var(--neutral-900);}
.cnt_controls ul li.scrollTop button {display: flex; align-items: center; justify-content: center; width: 100%; height: 60px; color: var(--neutral-50); font-size: 1.125rem; font-weight: 700;}
.cnt_controls button {background: none; border: none; padding: 0; cursor: pointer;}
.cnt_controls svg {width: 24px;}

@media (max-width: 768px) {
  .cnt_top {flex-wrap: wrap; margin-top: 0;}
  .cnt_top .thumb,
  .cnt_top .box {width: 100%; justify-content: center;}
  .cnt_top .info li {justify-content: center;}
  .cnt_top .info li .tit{width: auto;}

  .cnt_controls.show {display: none;}
}


/* tooltip */
.tooltip {position: relative; border: none; cursor: pointer;}
.tooltip::after {content: attr(data-tooltip); position: absolute; right: 30px; background-color: var(--neutral-900); color: var(--neutral-50); border: 1px dotted var(--neutral-50); font-size: .875rem; padding: .25rem .5rem; border-radius: 0.25rem; white-space: nowrap; opacity: 0; pointer-events: none; transition: opacity .3s;}
.tooltip:hover::after {opacity: 1;}


/* about */
.about {display: flex; flex-wrap: wrap; gap: 3rem;}
.about .box {width: 100%; line-height: 1.75; color: var(--neutral-900);}
.about .box h3 {font-size: 1.25rem; font-weight: 600; margin-bottom: 1rem; }
.about .box ul {display: flex; flex-wrap: wrap; gap: 1rem;}
.about .box ul li {width: 100%; display: flex; align-items: flex-start; font-size: 1rem; font-weight: 400;}
.about .box ul li span.date {width: 100%; max-width: 200px; display: flex; flex-wrap: wrap; align-items: center; font-size: 1.0625rem; font-weight: 500;}
.about .box ul li span.date small {width: 100%; font-size: .875rem; font-weight: 400;  color: var(--neutral-500);}